@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Onest:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --font-onest: "Onest", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

body {
    @apply font-montserrat;
    font-size: 16px;
    color: #181818;
    background-color: #fff;
}

@media (max-width: 927px) {
  body {
    font-size: 14px;
  }
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.marquee-container {
  width: 100%;
  overflow: hidden;
}

.marquee-content {
  display: flex;
  animation: scroll 20s linear infinite;
  white-space: nowrap;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}